@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#whatsapp {
    position: fixed;
    bottom: 20px;
    right:20px;
 }
 svg {
    width: 80px;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
 }
.Horario{
    padding: 100px;
    background-color: #130d0a;
}
.Horario-info h2{
    font-size: 75px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
}
circle {
    fill: #fff;
 }
 path {
  
    fill: #25d366;
 }
.Horario-txt{
    display: flex;
    justify-content: space-between;
}
.txt{
    color: #ffffff;
}
.txt h4 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 30px;
}
.txt p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
}